<div class="navbar-gutter">
  <nav>
    <ul class="nav sidebar-items">
      <li routerLink="./account-info" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-list"></i>
          Accounts
        </a>
      </li>
      <li routerLink="./create-account" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-plus"></i>
          Create Account
        </a>
      </li>
      <li routerLink="./contact-list" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-list"></i>
          Contacts
        </a>
      </li>
      <li routerLink="./create-contact" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-plus"></i>
          Create Contact
        </a>
      </li>
    </ul>
  </nav>
</div>
