<div class="navbar-gutter">
  <nav>
    <ul class="nav sidebar-items">
      <li routerLink="./grid" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-home"></i>
          Tasks Dashboard
        </a>
      </li>
      <li routerLink="./create-task" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-plus"></i>
          Create Task
        </a>
      </li>
      <li routerLink="./tasks-details" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-list"></i>
          Active Tasks
        </a>
      </li>
      <li routerLink="../../auth/login" routerLinkActive="active-link">
        <a href="javascript:void(0);">
          <i class="fa fa-power-off"></i>
          Logout
        </a>
      </li>
    </ul>
  </nav>
</div>
