<div class="header-gutter">
  <div class="menu-option">
    <a href="javascript:void(0);">
      <i class="fa fa-bars" aria-hidden="true"></i>
    </a>
  </div>
  <div class="header-title">
    <img src="https://www.barnesandassociatesins.com/assets/images/design/logo-footer.png" style="height:40px;" alt="">
  </div>
  <nav class="menu-item-container">
    <ul class="nav menu-item">
      <li>
        <a href="javascript:void(0);">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
  </nav>
  <div class="user-info">
    <a href="javascript:void(0);">
        <i class="fa fa-user-circle" aria-hidden="true"></i>
        <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->
      <span>Test test</span>
    </a>
  </div>
</div>
