.header-gutter{
    display: flex;
    background: #5F5F5F;
    box-shadow: 8px 10px 8px 8px #FFFFFF;
    /* position: fixed; */
    width: 100%;
    height:60px;
}

.menu-option{
    margin: auto 20px;
    position: relative;
}

.menu-option a{
    font-size: 20px;
    color: #fff;
}

.menu-option:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 30px;
    background: #4c4c4c;
    top: -4px;
    left: 35px;
}

.header-title{
    width: 70%;
    margin: auto 15px;
    font-weight: lighter;
    color: #fff;
}

.menu-item-container{
    width: 13%;
    align-self: center;
}

.menu-item-container ul{
    display: flex;
    justify-content: space-between;
}

.menu-item li{
    position: relative;
}

.menu-item li:before{
    content: '';
    position: absolute;
    background: #4c4c4c;
    width: 1px;
    height: 30px;
    top: -5px;
    left: -18px;
}

.menu-item li a{
    color: #e0e0e0;
    font-size: 18px;
}

.user-info{
    margin: auto
}

.user-info a{
    color: #fff;
    text-decoration: none;
    padding: 5px;
}

.user-info a i{
    font-size: 25px
}
